<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-0">
          <img class="set-border" src="../../assets/bg-img.jpg" alt="SMTest" width="97%">
        </div>
        <div class="col-lg-6">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone No.</th>
                        <th>Email</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let user of userData;let q = index" class="price_table">
                        <td><span>{{user.name}}</span></td>
                        <td><span>{{user.phone}}</span></td>
                        <td><span>{{user.email}} </span></td>
                        <td><span>{{user.password}}</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="bottomlink">
                <a routerLink="" class="anchor">Terms of Use</a>. <a routerLink="" class="anchor">Privacy policy</a>
            </div>
        </div>
    </div>
</div>