<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-0">
          <img class="set-border" src="../../assets/bg-img.jpg" alt="SMTest" width="97%">
        </div>
        <div class="col-lg-6 p-0">
          <div class="box">
            <div class="container">
                <form [formGroup]="regForm" (ngSubmit)="regSubmit()" class="login-login-form">
                  <h4 class="text-center"><b>Welcome back !</b></h4>
                  <p class="text-center">Please Register your account.</p>
                  <div class="alert alert-success" *ngIf="showMsg">
                    <strong>Success!</strong> Registered Successfully.
                  </div>
                  <fieldset class="register-input-container">
                    <div class="form-group">
                        <input type="text" class="user-input form-control" formControlName="name" [ngClass]="{ 'is-invalid': signupSubmitted && f.name.errors }" placeholder="Enter your Name">
                        <div *ngIf="signupSubmitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" (keypress)="keyPress($event)" minlength=10 maxlength=10 class="user-input form-control" formControlName="phone" [ngClass]="{ 'is-invalid':  signupSubmitted&& f.phone.errors }" placeholder="Enter your Phone Number">
                        <div *ngIf="signupSubmitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="user-input form-control" formControlName="email" [ngClass]="{ 'is-invalid':  signupSubmitted&& f.email.errors }" placeholder="Enter your Email Address">
                        <div *ngIf="signupSubmitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email Id is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="user-input form-control" id="spasshead" formControlName="password" [ngClass]="{ 'is-invalid':  signupSubmitted&& f.password.errors }" placeholder="Enter your Password">
                        <div *ngIf="signupSubmitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                </fieldset>
                    <div class="submit-row form-group">
                        <button type="submit" class="btn btn-success login-login-button">Register</button>
                    </div>
                    <div class="col-lg-12">
                      <h5 class="text-center">Already have Account  <a routerLink="/" class="anchor">Login Here</a></h5>
                    </div>
                    <div class="bottomlink">
                        <a routerLink="" class="anchor">Terms of Use</a>. <a routerLink="" class="anchor">Privacy policy</a>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>