.box{
    padding: 15%;
    width: 80%;
    margin: 0 auto;
}
.box p{
    margin-bottom:15%;
}
.form-group{
    margin-bottom:15px;
}
.login-login-button{
    width:100%;
    background: #5fabb2;
    border: 0;
    border-radius: 30px;
    padding: 4px;
}
.user-input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box !important;
    height: auto;
    padding: .6rem 0 .4rem 0;
    margin: 0 0 .5rem 0;
}
.user-input:focus{
    border-bottom-color:#dc3545;
    box-shadow: unset;
}
.anchor{
    text-decoration: auto;
}
.bottomlink{
    position: fixed;
    bottom:10px;
    right: 18%;
}
.bottomlink a{
    color: #8a8989;
}
@media screen and (max-width:767px) {
    .box{
        width: auto !important;
    }
    .bottomlink{
        position:relative;
        bottom:0;
        right: unset;
    }
}